<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
	<div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>





<!-- <% if (locals.user){ %>
    <div id="chatbox">
        <div class="chat-messages">
            <ul id="chat-msg-list">
            <li class="chatbox-to-user">
                 Hi msg to ygfd dfrg dfg fdg dfg gdrfg dfg df ou</li>
           

            <li class="chatbox-from-user">
                 Hi msg to cocxvcxv fxdgbfdx dfgh fgdh dfg fdg gmp</li>
            
        </div>
        <div id="chat-send-msg" >
            <form action="" id="new-chat-msg-form" method="POST">
                <input type="text" placeholder="send message" id="chat-message-input">
                <button id="send-message">Send message</button>
            </form>
        </div>


    </div>

    <% } %> -->

