<link rel="stylesheet" href="/css/home.css">

<h1>Codeial Home page</h1>
<div id="home-container">
    

    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
        </form>
        <% if(locals.user){ %>
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>

                        <%- include('_post'); %>


                            <%} %>
                </ul>
            </div>
            <% } %>
    </section>

    <aside>
    <section id="friend-list">
        <h4>Friends</h4>
        <ul>
            <% for(user of user_list){ %>

                <li>
                    <p><a href="/users/profile/<%=user.id %>">
                            <%= user.accountHolder %>
                        </a></p>
                </li>
                <%} %>
        </ul>
    </section>
</aside>
</div>