<!-- <link rel="stylesheet" href="/css/users.css">  -->


  
        <h1>Codeial profile page</h1>
        <div>
                <p>
               <h5> <%= user.accountHolder%>  
                <%= user.email %>
                <%= user.id %>
                <%= user.password %>
        </h5>
                </p>
        </div>

    
    