header{
    background-color: #344D67;
    align-items: flex-end;
    .header-li{
        display: inline-block;
        list-style: none;
            }
    #head-logo{
        display: inline-block;
        text-align: left;
    }
}